@keyframes wow {
	0% {background-color: rgba(255, 0, 255, 0.9);}
	50% {background-color: rgba(100, 255, 100, 0.9);}
	100% {background-color: rgba(255, 0, 255, 0.9);}
}

@keyframes such_spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

body
{
	background: url(bk.jpg);
	background-size: 100px 100px;
	height: 100%;
	margin: 0;
	min-height: 100%;
	/*overflow: hidden;*/
	position: relative;
}

marquee
{
	animation: wow 3s infinite;
}

div.info {
	background-color: rgba(255, 0, 255, 0.7);
	border-style: outset;
	padding: 30px;
	padding-top: 1px;
	width: 50%;
	margin: 5px;
	
	
	animation: wow 1s infinite;
}

img.spinny {
	display: inline;
	float: right;
	animation: such_spin 1s infinite;	
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}