table.house {
    border: 1px solid black;
    border-collapse: collapse;
    display: inline-block;
    margin: 5px;
}

table.house tr, table.house td, table.house th {
    border: 1px solid black;
    text-align: left;
}

.brackets {
    border-style: outset;
}

.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}

svg {
  display: block;
}

.logo {
  fill: #fff;
}