{% extends "layout.html" %}
{% block body %}
<div class="marquee">
    <object width="100px" id="svg1" data="static/bouncy.svg" type="image/svg+xml" class="logo"></object>
</div>
  <hr />
  <div class="info">
  <h2>SCORE</h2>
  {% if "houses" not in leaderboard.__vars__ %}
    <img src="{{ url_for('static', filename='construction.gif') }}" />
  {% else %}
  {% for house_name, house in leaderboard.houses.items() %}
    <table class="house">
    <tr>
      <th colspan="2"><h3 align="center">{{house_name}}</h3></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
      {% for player in house %}
        <tr>
          <td>{{ player.name }}</td>
          <td>{{ player.wins }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  {% endif %}
  </div>
  <hr />
  <div class="info">
  <h2>FINALS</h2>
  {% if not leaderboard.bracket_players %}
    <img src="{{ url_for('static', filename='construction.gif') }}" />
  {% else %}
    <div class="brackets">
      <script type="text/javascript">
          var minimalData = {
              teams : [
                ["{{ leaderboard.bracket_players[0].shortname() }}", "{{ leaderboard.bracket_players[1].shortname() }}"],
                ["{{ leaderboard.bracket_players[2].shortname() }}", "{{ leaderboard.bracket_players[3].shortname() }}"],
                ["{{ leaderboard.bracket_players[4].shortname() }}", "{{ leaderboard.bracket_players[5].shortname() }}"],
                ["{{ leaderboard.bracket_players[6].shortname() }}", "{{ leaderboard.bracket_players[7].shortname() }}"]
              ],
              results : [
                  {{leaderboard.first_bracket_round}},        /* first round */
                  {{leaderboard.second_bracket_round}},                      /* second round */
                  {{leaderboard.final_bracket_round}}
              ]
          }
          
          $(function() {
              $(".brackets").bracket({
              init: minimalData /* data to initialize the bracket with */ })
          })
      </script>
    </div>
  {% endif %}
  </div>
{% endblock %}[]