<!doctype html>
<title>MPong</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='results.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='jquery.bracket.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-1.6.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.bracket.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/bouncy.js') }}"></script>

<div class=page>
	<marquee>
		<img width="137px" class="spinny" style="float:left" src="{{ url_for('static', filename='you-tried.gif') }}" />
		<h1 style="float:left; margin-top: 50px;">Meshulavim Pong</h1>
		<img width="137px" class="spinny" src="{{ url_for('static', filename='you-tried.gif') }}" />
	</marquee>
	<img width="200px" style="position: fixed; bottom: 0px; right: 0px;" src="{{ url_for('static', filename='lots_of_monies.gif') }}" />
	<img width="200px" style="position: fixed; bottom: 0px; left: 0px;" src="{{ url_for('static', filename='lots_of_monies.gif') }}" />
<div id="snowflakeContainer">
    <p class="snowflake">*</p>
</div>
  <center>
  	{% block body %}{% endblock %}
  </center>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/snow.js') }}"></script>